*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

section{
    padding-top: 5px;
}
.formulario{
    text-align: center;
    background-color: #34c4d0;
    border: 2px solid black;
}

.formulario h4{
    font-size: 30px;
}

#descr-evento{
    padding-left: 100px;
    padding-right: 100px;
}

.formulario #error {
    text-align: center ;
    font-size: 20px;
    font-style: italic;
}

#boton {
    margin: 20px;
    width: 150px;
    border-radius: 20px;
}

th {
    cursor: pointer;
}

#boton-ingreso{
    display:none;
    margin: 20px;
    width: 150px;
    border-radius: 20px;
}

table{
    text-align: center;
}

.navegacion{
    text-align: right;
    margin-left: 250px;
    margin-top: 35px;
}

.cre-evento{
    font-size: 18px;
    text-align: center;
}

.usuarios-actuales{
    padding-top: 1rem;
}

.usuarios-actuales h3{
    text-align: center;
}
.sesion h2{
    text-align: center;
}

.formu-registro{
    text-align: center;
    background-color: #34c4d0;
    border: 2px solid black;
    padding-left:50px ;
    padding-right:50px ;
}

.reg-evento form{
    margin: 20px;
}
.cre-evento .reg-evento h3{
    border-bottom: 2px solid black;
    font-style: oblique;
    text-align: center;
}

.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
  }
  .table-title h3{
      text-align: center;
  }

  .usuarios{
      padding-top: 1rem;
  }

  .registro{
      padding-top: 2rem;
      padding-right: 20rem;
      padding-left: 20rem;
  }
  .fila td{
      cursor: pointer;
  }

  .fila:hover td{
    background-color:rgb(0, 176,202);
}
.tituloDespacho{
text-align: center;
}
#input_buscar{
    text-align: right;
    padding-left: 63%;
}
.filtros{
    display: flex;
}